{% extends "base.html" %}
{% block title %}
  dsereviews
{% endblock title %}
{% block content %}
<main class="container-fluid min-vh-100">
  <div class="d-flex mb-3 justify-content-center"><u><a href="#" class="text-reset"><strong>Read</strong> the students statement about the platform.</a></u></div>
    <div class="row align-items-start">
      <div class="col align-items-center w-auto">
        <input type="text"
               id="myInput"
               onkeyup="myFunction()"
               placeholder="Search for courses" class="w-100 form-control"/>
        <ul hidden id="myUL" class="mt-3 list-unstyled">
          {% for course in courses_all %}
            <li>
              <a href="{{ course.get_absolute_url }}">{{ course.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="col align-items-center">
        <input type="text"
               id="myInput1"
               onkeyup="myFunction1()"
               placeholder="Search for professors"  class="w-100 form-control"/>
        <ul hidden id="myUL1" class="mt-3 list-unstyled">
          {% for professor in professors_all %}
            <li class="li1">
              <a href="{{ professor.get_absolute_url }}">{{ professor.name }}</a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </main>
  <script>
  function myFunction() {
    // Declare variables
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('myInput');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');
  
    if(filter==""){
      ul.setAttribute("hidden","")
    }else{
      ul.removeAttribute("hidden")
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }
  }

  function myFunction1() {
    // Declare variables
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('myInput1');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL1");
    li = ul.getElementsByClassName('li1');
  
    if(filter==""){
      ul.setAttribute("hidden","")
    }else{
      ul.removeAttribute("hidden")
      for (i = 0; i < li.length; i++) {
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          li[i].style.display = "";
        } else {
          li[i].style.display = "none";
        }
      }
    }
  }
  </script>
{% endblock content %}