{% extends "base.html" %}
{% block title %}
    dsereviews | Registration completed!
{% endblock title %}
{% block content %}
    <h1>Registration completed</h1>
    <div class="module">
        <p>Your registration to dsereviews is finally completed.</p>
        <p>Please remember to be constructive in your reviews, offensive content won't be tolerated.</p>
        <p>
            You may now log in your account by clicking <a href="{% url "login" %}">here</a>.
        </p>
    </div>
{% endblock content %}
